body{
    background-color: rgb(24, 24, 24);
    color: white;
}
.dropdown-toggle{
    background-color: grey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
}
.navbar-brand span {
    color: #AC8EFA;
    font-size: 30px;;
}
.icon-white {
    color: white;
  }
.nav-link.dropdown-toggle::after {
    color: white !important;
}

.btn-primary{
    background-color: green;
    border-color: green;
}

nav .btn-primary:hover{
    background-color: green;
    border-radius:2px solid rgb(0, 71, 0);
}

.btn-info {
    background-color: #AC8EFA;
    border-color: #AC8EFA;
    color: white;

    &:hover {
        background-color: #6a52a8;
        border-color: #6a52a8;
        color: rgb(223, 223, 223);
        transform: scale(1.2);
    }
    &:active{
        background-color: #4a3678;
        border-color: #4a3678;
    }
}

.red{
    color: red;
}

.create-icons{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.create-icons .btn-secondary{
    background-color: rgb(248, 248, 248) !important;
    color: black;
    border-radius: 1px solid grey;
}

.form-label{
    font-weight: bold;
}

#imageGrid .col{
    display: flex !important;
    justify-content: center !important;
}

#imageGrid{
    display: flex !important;
    justify-content: center !important;
}

.gri-buttons{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.gri-buttons #threeColumnView {
    color: #AC8EFA;
    background-color: transparent;
    border: none;
}

.gri-buttons #singleColumnView {
    color: grey;
    background-color: transparent;
    border: none;
}

.post-container{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.post-container__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.post-container span, .post-container p{
    padding: 5px;
}
.likes{
    font-weight: bold;
}

.link-juego {
    color: #AC8EFA;
    text-decoration: none;
}

.link-juego:hover {
    color: #6a52a8;
}

.platform{
    color: #AC8EFA;
}
.genre{
    color: #6a52a8;
}
.date{
    color: #6a52a8;
}